*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 220, 220);
}

img{
    width: 100%;
    height: 250px;
    border-radius: 7px;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    min-width: 500px;
    background-color: rgb(92, 84, 84);
    border-radius: 7px;
}

button{
    outline: none;
    border: none;
    height: 10px;
    border-radius: 50%;
    padding: 7px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    opacity: .6;
}

button.active{
    background-color: rgb(87, 196, 14);
}

button.auto{
    border-radius: 0;
}

button.stop{
    border-radius: 3px;
}

.app__pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: azure;
}